streamlit==1.51.0
streamlit-autorefresh
streamlit-pdf-viewer
torch
beautifulsoup4
streamlit-option-menu
numpy
pillow
dnspython
cloudscraper
PyPDF2
pdfplumber
cloudscraper
pytesseract
dnstwist==20250130
pdf2image
Pillow
psycopg2-binary
reportlab>=4.0.9

matplotlib
pytz
pdfkit
pdf2image
pymupdf
plotly
python-docx
pytesseract
nltk
easyocr
bcrypt
python-dotenv
tabulate

# LangChain ecosystem
langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
langchain-openai
sentence-transformers
faiss-cpu
xhtml2pdf>=0.2.16
